@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
    scroll-behavior: smooth;
    background-color: black;
}

.mainTitle {
    margin-top: 40vh;
    margin-left: 12%;
    text-align: left;
    position: absolute;
    font-size: 5vw;
    font-family: Source Code Pro;
    color: white;
    z-index: 3;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 700ms;
}

.mainTitle:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.mainTitle i {
    font-style: normal;
}

.mainTitle:hover i {
    color: rgb(238, 202, 136);
    font-style: normal;
    transition: color 700ms ease-in-out;
}

.subTitle {
    font-size: 1.5vw;
    color: white;
    z-index: 3;

    margin-top: 53vh;
    margin-left: 12%;
    text-align: left;
    position: absolute;
    font-family: Source Code Pro;   
    background-color: black;
    padding: 1vh 1vh;
}

.subTitle i {
    color: orange;
    font-style: normal;
}


.parallax {
    /*
    margin-top: -34vh;
    margin-bottom: -20vh;*/
    /* The image used */
    background-image: url('tacotitlefinal.png');
    /*-webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);*/

    /* Full height */
    width: 100%;
    height: 150vh;
    z-index: -1;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    
    /*
    margin-top: -34vh;
    margin-bottom: -20vh;*/
    /* The image used */
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/61/55/mexican-taco-delivery-icon-vector-31816155.jpg');
    /*-webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);*/

    /* Full height */
    height: 150vh;
    z-index: -1;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail {
    /* Full height */
    height: 60vh;
    width: auto;
    top: 17vh;
    left: 20vh;
    position: absolute;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbnail {
    animation: height 1s forwards;
    animation-delay: 700ms;
}

@keyframes height {
    from {height: 60vh;}
    to {
        height: 65vh; 
        position: relative;
        width: auto;
        display: block;
        z-index: 999;
        left: 17.5vh;
        top: 15vh;
    }
}

.divider {
    position: relative;
    min-height: 100%;
    background: linear-gradient(2deg, yellow, red);
    z-index: 4;
    height: 2vh;
    bottom: 8vh;
}

.divider1 {
    position: relative;
    min-height: 100%;
    background: linear-gradient(2deg, yellow, red);
    z-index: 4;
    height: 2vh;
}

.exp {
    padding-top: 0.5vh;
    margin-top: -10vh;
    min-height: 100%;
    background-color: white/*rgb(253, 226, 168)*/;
}

.exp h2 {
    margin-top: 8vh;
    padding: 2vh;   
    padding-bottom: -0.5vh;
    color: black;
    font-size: 3.5vw;
    text-align: center;
    font-family: Source Code Pro;
    min-height: 15vh;
}

.exp h2 i {
    font-style: normal;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms ease-in-out;
}

.exp h2 i:hover {
    color: orange;
    background-color: black;
    transition: color 1.3s ease-in-out, background-color 800ms ease-in-out;
}

.exp .flexbox {
    margin-top: -1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4vh;
}

.exp .flexbox div {
    bottom: 5vh;
    position: relative;
    flex: 1;
    box-shadow: -0.35vw 0.35vw 0vw 0vw orange;
    padding: 1vw;
    margin: 1.5vw;
    vertical-align: top;
}

.exp .flexbox .image {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.exp .flexbox div p {
    margin: 2vh 2vh;
}

.exp .flexbox div button {
    margin: 0vh 2vh;
    margin-bottom: 2vh;
    background: transparent;
    border: none;
    border-left: 0.25vh solid orange;
    border-bottom: 0.25vh solid orange;
    padding: 0.5vh;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 0.75vw;
}

.exp .flexbox p {
    font-family: Open Sans;
    font-size: 1.25vw;
}

.exp .flexbox p i {
    font-weight: bold;
    font-style: normal;    
}

.exp .flexbox img {
    position: relative;
    width: 16vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-screen-width: 200px) and (max-screen-width: 400px) {
    .parallax h1.mainTitle {
        font-size: 28px;
    }
}